/*-- scss:defaults --*/

@import 'https://fonts.googleapis.com/css2?family=Montserrat&display=swap';

@import 'https://fonts.googleapis.com/css2?family=Raleway&display=swap';

$font-family: "Montserrat", sans-serif;
$link-color: #8B0015; /*Chili*/
$hover-color: lighten($link-color, 20%);

/*-- scss:rules --*/

a{
  color: $link-color;
  text-decoration: none;
  
  &:hover{
    color: $hover-color;
    border-bottom: 1px solid $hover-color;
  }
  
}

.render-commit-push {
  padding: 0.5em 0.5em 0em 3em;
  margin-top: 5px;
  margin-bottom: 5px;
  background: #f8f8f8 5px center/3em no-repeat;
  border-top: 1px solid #5B888C;
  border-bottom: 1px solid #5B888C;
  background-image: url("images/render-commit-push.png");
  background-size: 2em;
  background-position: 0.5em 0.5em;
}

.pull {
  padding: 0.5em 0.5em 0em 3em;
  margin-top: 5px;
  margin-bottom: 5px;
  background: #f8f8f8 5px center/3em no-repeat;
  border-top: 1px solid #E0A890;
  border-bottom: 1px solid #E0A890;
  background-image: url("images/pull.png");
  background-size: 1em;
  background-position: 1em 0.5em;
}

.project {
  padding: 1em;
  border: 1pt dotted #a493ba;
  margin-bottom: 15px;
}

.sidebar-title {
  color: white;
}
